<!DOCTYPE html>
 <html>
     <head>
       <title>Result</title>
        <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js'></script>
        <script type='text/javascript' src='/js/script.js'></script>
   </head>
   <body>
      <form id="question-form" action="/survey/create" method="POST">
        <div id="survey">
          <div id="question-field">
          </div>
          <br><br>
          <button type="button" id="add-question">Add New Question</button>
        </div>
          <input type="submit" value="Submit"></input>
      </form>
   </body>
 </html>
