<h1>Log in to create survey</h1>


<form action="/creator/login" method="post">
Name : <input type="text" name="name">
<br>
Password :<input type="password" name="password">
<br>
<input type="submit" value="Login">
</form>
<br><br>
<h1>Sign in to create survey</h1>

  <form action="/creator/signup" method="post">
  Name : <input type="text" name="name">
  <br>
  Password :<input type="password" name="password">
  <br>
  <input type="submit" value="Signup">

