<h1>Log in to vote</h1>


<form action="/voter/login" method="post">
Name: <input type="text" name="name">
<br>
Password :<input type="password" name="password">
<br>
<input type="submit" value="Login">
</form>
<br><br>
<h1>Sign up to vote</h1>

 <form action="/voter/signup" method="post">
  Name : <input type="text" name="name">
  <br>
  Password :<input type="password" name="password">
  <br>
  <input type="submit" value="Signup">
