<div class="container">
  <h1>Welcome to Gorilla Survey!</h1>
  <img src="https://www.colorado.gov/pacific/sites/default/files/u/5171/Survey%206.jpg"/>
  <br><br>
  <a href="/creator">Click here to Create Survey</a>
  <br><br>
  <a href="/voter">Click here to Vote </a>

</div>
